{% extends '::base.html.twig' %}

{% block body %}
    <div class="alert alert-success" role="alert">
        <strong>Votre demande de réservation a bien été enregistré.</strong>
    </div>
{% endblock %}
